@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;  /* Default browser font is 16px: (16px * 0.625 = 10px) */
}

:root {
    --main-color: rgb(38, 182, 227);
    --main-color-6: rgba(38, 182, 227, 0.6);
    --main-color-5: rgba(38, 182, 227, 0.5);
    --main-color-4: rgba(38, 182, 227, 0.4);
    --main-color-2: rgba(38, 182, 227, 0.2);
    --wrong: rgb(217, 0, 0);
    --wrong-2: rgba(217, 0, 0, 0.2);
    --correct: rgba(0, 181, 18, 1);
    --correct-2: rgba(0, 181, 18, 0.2);
    --gray: rgb(201, 201, 201);
}

.start-screen, .quiz-screen, .final-screen {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    text-align: center;
}

.start-screen, .final-screen {
    justify-content: center;
    height: 100vh;
}

.quiz-screen {
    min-height: 100vh;
}

.action-button {
    width: 57.9rem;
    height: 57.9rem;
    top: 13.0rem;
    left: 43.1rem;
    border-radius: 50%;

    background: var(--main-color);
    border: none;
    box-shadow:
            0 0 1.5rem var(--main-color-6),
            0 0 4.0rem var(--main-color-5),
            0 0 7.0rem var(--main-color-4);

    backdrop-filter: blur(1.0rem);
    -webkit-backdrop-filter: blur(1.0rem);

    display: flex;
    align-items: center;
    justify-content: center;
}

.restart-button {
    width: 39.5rem;
    height: 39.5rem;
    top: 32.4rem;
    left: 52.3rem;
}

.action-button .button-text {
    width: 48.3rem;
    height: 28.8rem;

    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1.5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.restart-button .button-text {
    width: 19.0rem;
    height: 19.2rem;

    font-size: 6.4rem;
}


.stepper-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding-top: 4.0rem;
    padding-left: 6.0rem;
    padding-right: 6.0rem;

    box-sizing: border-box;
}

.progress-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 6.4rem;
    height: 0.2rem;
    background-color: var(--gray);
    z-index: 1;
}

.step {
    position: relative;
    z-index: 2;
    width: 5.0rem;
    height: 5.0rem;
    border-radius: 50%;
    background-color: white;
    border: 0.2rem solid var(--main-color);
    color: var(--main-color);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

.step.completed {
    border-color: var(--gray);
    color: var(--gray);
}

.step.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: white;
}

.question-container {
    background-color: var(--main-color);

    margin-top: 6.4rem;

    width: 100%;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5.0rem 13.0rem;

    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.4;
}

.choices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-left: 13.0rem;
    margin-right: 13.0rem;
    margin-top: 6.0rem;

    gap: 6.0rem;
}

.choices button, .choices button.selected {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;
    border: 0.1rem solid var(--main-color);
    border-radius: 1.0rem;

    padding: 3.0rem 2.0rem;
    width: 56.0rem;

    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;

    box-sizing: border-box;
}

.choices button.selected {
    background-color: var(--main-color);
    border: 0.1rem solid var(--main-color);
    color: white;
}

.choices button.wrong {
    background-color: var(--wrong-2);
    border: 0.1rem solid var(--wrong);
    color: var(--wrong);
}

.choices button.correct {
    background-color: var(--correct-2);
    border: 0.1rem solid var(--correct);
    color: var(--correct);
}

.submit-button, .submit-button:hover, .next-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.0rem;

    background-color: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 1.0rem;

    padding: 1.2rem 4.0rem;
    margin: 6.0rem auto 8.6rem;
    width: 19.6rem;
    height: 7.2rem;

    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.0;
}

.submit-button:disabled {
    background-color: var(--gray);
    border: 0.2rem solid var(--gray);
    cursor: not-allowed;
}

.points {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Poppins', sans-serif;
    font-size: 9.6rem;
    font-weight: 400;
    line-height: 1.0;
    color: var(--main-color);

    width: 84.5rem;

    padding-bottom: 6.0rem;
}

@media (hover: hover) {

    .choices button:hover {
        background-color: var(--main-color-2);
        border: 0.1rem solid var(--main-color);
        color: var(--main-color);
    }

    .submit-button:hover {
        box-shadow: 0 0 1.0rem var(--main-color-2);
        transition: box-shadow 0.3s ease;
    }
}

@media (hover: none) {

    .choices button:hover {
        background-color: var(--main-color);
        border: 0.1rem solid var(--main-color);
        color: white;
    }

    .submit-button:hover {
        box-shadow: none;
    }
}


@media (max-width: 430px) {

    * {
        margin: 0;
        padding: 0;
    }

    .start-screen, .final-screen {
        height: 100dvh;
    }

    .quiz-screen {
        min-height: 100dvh;
    }

    .action-button  {
        width: 36.0rem;
        height: 36.0rem;
        top: 29.1rem;
        left: 45.0rem;
    }

    .restart-button {
        width: 34.0rem;
        height: 34.0rem;
    }

    .action-button .button-text {
        font-size: 4.8rem;
    }

    .points {
        font-size: 4.8rem;
        width: 43.0rem;
        padding-bottom: 8.9rem;
    }

    .stepper-container {
        padding-top: 3.0rem;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }

    .progress-line {
        top: 4.6rem;
        height: 0.1rem;
    }

    .step {
        width: 3.0rem;
        height: 3.0rem;
        font-size: 1.6rem;
        border: 0.1rem solid var(--main-color);
    }

    .question-container {
        margin-top: 3.0rem;
    }

    .question {
        padding: 4.0rem 4.0rem 4.0rem 4.8rem;
        font-size: 2.0rem;
    }

    .choices {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 3.0rem;
        margin-right: 3.0rem;
        margin-top: 6.0rem;
        gap: 2.0rem;
    }

    .choices button, .choices button.selected {
        padding-left: 2.0rem;
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        width: calc(100% - 6.0rem);
    }

    .submit-button, .submit-button:hover, .next-button {
        margin: 6.0rem auto 6.4rem;
        width: 15.3rem;
        height: 5.4rem;
        font-size: 2.0rem;
    }
}